* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}
.line {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    
}
